*{
    margin :0px;
    padding :0px;
    box-sizing: border-box;
    
}

nav{
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-family: 'Poppins',sans-serif;
    background-color: #080f5b;
    border-bottom: #e4c580 1.4px dashed;  
}

.logo{
    color:#66fcf1;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color:#e4c580;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size:14px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width:25px;
    height:3px;
    background-color:#e4c580;
    margin: 5px;
    transition: all 0.3s ease;
   }

.highlight,.current a{
    color:rgb(160, 12, 1);
    font-weight:bold;  
 }

 /*Login form here*/
 .log_head h1{
     margin:0;
     padding: 0 0 20px; 
     text-align: center;
     font-size: 22px;
     color:#e4c580;

  } 
.formbox{
    margin:auto; 
    width:55%;
    /* height:420px; */
    background-color: #080f5b;
    color:#e4c580;
    box-sizing: border-box;
    padding: 55px 30px;
    border-radius: 7px;
    /* border:1.5px  dashed rgb(226,226,226); */
    box-shadow:  inset 2px  2px 10px rgb(226,226,226);
}

.formbox p{
    margin :0;
    padding: 0;
    font-weight: bold;
    color:#66fcf1;
}
.formbox input{
    width :100%;
    margin-bottom: 20px;

}

.formbox input[type = 'text'],input[type ='password']
 ,input[type ='email']{
    border:none;
    border-bottom: 1px solid #e4c580;
    background:transparent;
    outline : none;
    height:40px;
    color :#e4c580;
    font-size: 16px;
}

.formbox input[type ='submit']{
    border:none;
    outline: none;
    height:40px;
    background:#e4c580;
    color:rgb(160, 12, 1);
    letter-spacing: 3px;
    font-size: 18px;
    border-radius: 9px;


}

.formbox input[type = 'submit']:hover{
    cursor: pointer;
    background: rgb(160, 12, 1);
    color: #35424a;   
   }

.formbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color : #66fcf1
}

.formbox a:hover{
    color:rgb(160, 12, 1);
   }

.avater{
    widows: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:50px;
    left: calc(50% - 50px);
}

header img {
    width:100%;
    height:470px;
}
header{
    width: 80%;
    margin: auto;
    /* text-align: center;
    color:white;
    border-bottom: 0.5em solid rgb(226,226,226);  */
}
a.btn {
    text-decoration: none;
    background-color: rgb(160, 12, 1);
    margin-top: 1em;
    text-align: center;
    display: inline-block;
    color:rgb(226,226,226);
    padding: 15px 30px;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: bold;
    font-size:70%;
    
    
}
a.btn2 {
    text-decoration: none;
    background-color: rgb(160, 12, 1);
    margin-bottom: 1em;
    text-align: center;
    display: inline-block;
    color:#e4c580;
    padding: 15px 30px;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: bold;
    font-size:100%;
    
    
}
#contact_form input[type=text]{
    width: 100%;
    padding: 2.8% 2.8%;
    margin-top: 2%;
    font-size: 100%;
    display: inline-block;
    color:#e4c580;
    border:none;
    border-radius: 4px;
   
    background-color:#0d19a3;
    box-sizing: border-box;
}

#contact_form input[type ='submit']{
    border:none;
    outline: none;
    height:40px;
    background:#0d19a3;
    color:#66fcf1;
    letter-spacing: 3px;
    font-size: 18px;
    border-radius: 9px;


}
#contact_form textarea{
 width:100%;
 padding: 7% 7%;
 margin-top: 2%;
 border: none;
 border-radius: 4px;
 background-color: #0d19a3;

}
#contact_form input[type= email]{
    width: 100%;
    padding: 2.8% 2.8%;
    margin-top: 2%;
    font-size: 100%;
    display: inline-block;
    color:#e4c580;
    border:none;
    border-radius: 4px;
   
    background-color:#0d19a3;
    box-sizing: border-box;
}

.btn_contact{
    width:100%;
    padding: 2.8% 2.8%;
    border: none;
    font-size: 100%;
    letter-spacing:1%;
    box-sizing: border-box;
    margin-top: 2%;
    border-radius: 4px;
    cursor: pointer;
	color:#e4c580;
    background-color: rgb(160, 12, 1);
	/* background-color:rgb(193, 16, 3); */
	/* background:-o-linear-gradient(#F7CA18, #302754);
	background:-moz-linear-gradient(#F7CA18, #302754); */
    
}

.contact{
     color:#e4c580; 
     text-align: center;
     font-size: 180%;
     text-shadow:0.4px 0.4px 0.4px #ddd;
     margin-bottom: 0.8em;
}
.contact_container{
   width:50%;
   margin:auto;
}
#contact_form input[type = 'submit']:hover{
    cursor: pointer;
    background: #e4c580;
    color: #35424a;   
   }
#note {
    font-family: Arial,Helvetica,sans-serif;
    font-size:20px;
    line-height: 1.5;
    color:#e4c580;
    /* padding: 5%;
    margin: 5%; */
}
#note2 {
    font-family: Arial,Helvetica,sans-serif;
    font-size:18px;
    line-height: 1.5;
    color:#e4c580;
    text-shadow:0.4px 0.4px 0.4px #ddd;
    
    /* padding: 5%;
    margin: 5%; */
}
#icon img{
width:15%;
margin-right:15%;
}    

blockquote {
    width: 80%;
    margin:auto;
    padding: 1em;
    margin-top: 3%;
    background-color:#e4c580;
    font-size: 2em;
    line-height: 1.2em;
    text-align: center;
    color:#35424a;
}

#title {
    padding: 1em;
    line-height: 3em;
    text-align: center;
    font-size: 1em; 
    text-transform: uppercase;
    
}

.article{
    width:90%;
    margin: auto;
    /* margin: 2em; */
    
}
.article section{
    text-align: center;
    /* margin-bottom: 2%; */
}

.article section p{
  text-align: justify;
  line-height: 2em;
}

.article section img {
    width:100%;
    border-radius: 5px;
}
 


.clearfix:before,
.clearfix:after{
    content:' ';
    display: table;
}

.clearfix:after{
    clear: both;
}

#footer_section{
    background-color:#080f5b;
    padding: 20px;
    margin-top: 4em;
    text-align: center;

    border-top: #e4c580 1.5px dashed; 
        
}

footer{
    /* /* position: fixed;
    left: 0;
    bottom: 0; */

    width: 100%;
    background-color: #0d19a3;
    color:#e4c580;
    clear: both;
    padding: 20px;
    margin:0px;
    text-align: center;
     
}



@media screen and (min-width:600px){
    .article section {
        float :left;
        width:31.42857142857143%;
        margin-right: 2.857142857%;
    }

    .article section:last-child {
      margin-right: 0;
    }

    /* #article section img{
        height :23em;

    } */
    .article section p{
        /* height:22em; */
        overflow: hidden;
    }


}


@media screen and (max-width:1024px){
    .nav-links{
        width:60%;
    }
}

@media screen and (max-width:768px){
    body{
     overflow-x: hidden;
    }
   
     .nav-links{
        position: absolute;
        right:0px;
        height:92vh;
        top:8vh;
        background-color: #080f5b;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    } 
    /* .nav-active{
        transform:translateX(0%)
    } */

    .nav-active{
        transform:translateX(0%);
    }
    
    @keyframes navLinkFade{
        from{
            opacity:0;
            transform: translateX(50px);
        }
    
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
    
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    
    .toggle .line2{
        opacity: 0;
    }
    
    .toggle .line3{
        transform: rotate(45deg ) translate(-5px,-6px);
        
    }

    .formbox{
        margin-top: 15%; 
        width:90%;
       
    }
    .contact_container{
        width:80%;
    
     }

   
}




 